<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <title>Restaurant List</title>
</head>

<body>
  {{!-- navigation --}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">restaurants</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  {{!-- search bar --}}
  <div class="container-fluid">
    <form action="/search" class="d-flex">
      <input class="form-control me-2" type="text" name="keyword" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  {{!-- render --}}
  {{{body}}}

  {{!-- bootstraps --}}


  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script src="/javascripts/jquery-3.5.1.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

</body>

</html>