/* title */
*{
  font-family: 'Julius Sans One', sans-serif;
  position: relative;
}
.navbar{
  width: 100%;
  background-color: #B0DCDD;
  display: inline-block;
  position: relative;
}

.nav-btn {
  display: inline-block;
}

body{
  /* background-color: #eaeaea; */
  background-color: #B0DCDD;
}

a {
  text-decoration: none;
}
.title-image {
  width: 100%;
  height: 360px;
  background: center center url('https://images.unsplash.com/photo-1532723136756-147542750512?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');
  background-size: cover;
  /* filter: blur(1px); */
}


.search-bar {
  /* position */
  position: relative;
  margin: auto;
  margin-top: -260px;
  /* search bar樣式 */
  width: 60%;
  height: 200px;
  background-color: #edeceb;
  border-radius: 100px;
  background-color: rgba(241, 230, 192, 0.6);
  box-shadow: 2px 2px 8px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.add-list {
  background-color: tomato;
  color: #fafafa;
  padding: 10px;
  border-radius: 10px;
  text-decoration:none;
}

/* a:hover {
background-color: tomato;
color:#fafafa;
} */
/* index */
.line{
  text-align: center;
  margin: 20px;
}
.card {
  margin: auto;
  margin-top: 40%;
  border-radius: 15px;
  box-shadow: 2px 2px 8px;

}

.card-img-top{
  width: 100%;
  height: 15vw;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
}

.card-rate {
  display: inline-block;
  box-sizing:border-box;
  background-color: #FA877C;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px;
}

.fas{
  text-align: center;
}

a{
   text-decoration:none;
}
.cardBtn{
  color: white;
  border: solid 1px ;
  border-radius: 10px;
  background-color: #d9e0b0;
  padding: 8px;
 
}
.btn-edit {
  color:white;
  background-color: transparent;
  border: none;
}
.deleteBtn:hover{
  color: white;
}

.btnForm{
  display: inline;
  text-decoration:none;
  color: white;
  background-color: #d9e0b0;
  border-radius:10px ;
  padding: 8px;
  margin: 5px;
}


/* detail */
.restaurant-detail{
  text-align: center;
  background-color: #f6f3ee;
  border: #f6f3ee;
}

/* new page */
.new-page{
  margin: auto;
  width: 60%;
  background-color: rgba(192,192,192,0.4);
  border-radius: 30px;
  border: solid 3px white;
  margin-top: 5%;
  padding: 20px;
}
.new-title{
  text-align: center;
  padding: 10px;
}
.add-new-restaurants{
  margin: auto;
  width: 70%;
  border: turquoise;
}

/* edit page */

.edit-page {
  margin: auto;
  width: 60%;
  background-color: rgba(192,192,192,0.4);
  border-radius: 30px;
  border: solid 3px white;
  margin-top: 5%;
  padding: 20px;
}